/*Style.css - customização geral */

/* Inputs- aparência e resposividade*/
.input {
    width: 100%;
    box-sizing: border-box;
    font-size: 1rem;
}

/* Botões (além do Tailwind) */
.btn {
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Sombra formulário e tabelas */
.shadow-lg {
    box-shadow: 0 10px 15px rgba(0,0,0,0.1);
}

/* Responsividade -ajustes nas telas pequenas */
@media (max-width: 640px) {
    .input {
        font-size: 0.9rem;
    }
    .btn {
        font-size: 0.9rem;
    }
}
